---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-1 lg:gap-1">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Desarrollador Full Stack</h2>
		<p>Con experiencia en Java Spring Boot, ReactJS, Angular, Node, SQL, Firebase, Vue, GitHub y Gitflow. Eres un profesional versátil y capaz de trabajar en todas las etapas del desarrollo de aplicaciones web y móviles. Tienes habilidades tanto en el lado del servidor como en el del cliente y puedes trabajar con bases de datos relacionales y no relacionales. Además, eres un usuario experimentado de GitHub y Gitflow, lo que demuestra que tienes una comprensión sólida de los principios de control de versiones y colaboración en equipo.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
